<h1>My Work History</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
<p>My first job was a <%= @job_one %> </p>
  </div>
  <div class="panel-body">
<p>where I <%= @description_one %>  </p>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
<p>My second job was a <%= @job_two %> </p>
</div>
<div class="panel-body">
<p>where I <%= @description_two %>  </p>
</div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
<p>My third job was a <%= @job_three %> </p>
</div>
<div class="panel-body">
<p>where I <%= @description_three %>  </p>
</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
<p>My fourth job was a <%= @job_four %> </p>
</div>
<div class="panel-body">
<p>where I <%= @description_four %>  </p>
</div>
</div>
<!-- <form action="/add_form" method="post">
<button type="submit" class="btn btn-info">Add Another Job!</button>
</form> -->
